
<link rel="stylesheet" href="{% static 'omero_parade/css/parade.css' %}"></link>
<script src="{% static 'omero_parade/js/bundle.min.js' %}"></script>
<script>

$(function() {

  var pluginIndex = {{ forloop.counter }};

  $("#omero_parade").omeroweb_center_plugin({
    plugin_index: pluginIndex,        // From the Django template loop
    empty_on_sel_change: false,       // Do not completely erase content when changing selection
    load_plugin_content: function(selected, dtype, oid) {

      // console.log(selected, dtype, oid);

      // this may have been called before datatree was initialised...
      var datatree = $.jstree.reference('#dataTree');
      if (!datatree) return;

      // We use the tree to access selected objects, since we can traverse
      // to check parents etc...
      // Note: We do not use the parameters selected, dtype or oid as
      // it is easier to use the tree directly as these do not refer to
      // a jstree node
      var tree_selected = datatree.get_selected(true);
      omero_parade.default(tree_selected, datatree);
    },

    // supported_obj_types: ['dataset', 'image', 'orphaned', 'tag']
    plugin_enabled: function(selected){
        return true;
        // if (selected.length == 0) return false;
        // var dtype = selected[0]['id'].split('-')[0];
        //  if (selected.length > 1) {
        //     return (dtype == "image");
        // } else {
        //     return ($.inArray(dtype, ["image", "dataset"]) > -1);
        // }
    }
  });
});

</script>